<p>
<%= simple_form_for @list , url: "/lists/#{@list.name}", html: {:role => 'form' } do |f| %>
    <div class="form-group">
  <%= f.input :name, :input_html => { :class => "form-control" } %>
    </div>
    <div class="form-group">
<%= f.label "tickers", :input_html => { :class => "form-control" } %><br><%= f.hidden_field :company_ids, id: "companies-ajax", style: "width:650px" %>
    </div>
<p>
<%= f.button :submit %>
<% end %>
