<h2>
  <%= @exchange.name %>
</h2>
          <p>&nbsp;</p>
  <% @per_industry.keys.each do |industry| %>
    <h3><%= industry %></h3>
      <table class="table-fixed" width="820">
        <% @per_industry[industry].each do |company| %>
          <% if image_exists?("#{company.ticker}_mma.png") %>
            <tr>
              <th><%= company.ticker %></th>
              <th><%= company.name %></th>
            </tr>
            <tr>
              <td colspan=2><%=image_tag("#{company.ticker}_mma.png")%><%=image_tag("#{company.ticker}_range.png")%></td>
            </tr>
          <% end %>
        <% end %>
      </table>
  <% end %>
