
<h4>All and Small Ordinaries Indices</h4>
<% aord=@indices.find_by(ticker: '^AORD') %>
<% sord=@indices.find_by(ticker: '^AXSO') %>
<table >
  <tr>
    <th><%= aord.ticker %></th>
    <th><%= aord.name %></th>
    <th><%= sord.ticker %></th>
    <th><%= sord.name %></th>
  </tr>
  <tr>
    <td colspan=2><%=image_tag("^AORD_mma.png") %></td>
    <td colspan=2><%=image_tag("^AXSO_mma.png") %></td>
  </tr>

</table>

<h4>GICS Indices</h4>

<% @indices.where(category: 'GICS').desc(:roar).each_slice(2).to_a.each do |s| %>
<table>
  <tr>
    <% s.each do |x| %>
    <th><%= x.ticker %></th>
    <th><%= x.name %></th>
    <% end %>
  </tr>
  <tr>
    <% s.each do |x| %>
    <td colspan="2"><%=image_tag("#{x.ticker}_mma.png")%></td>
    <% end %>
  </tr>
</table>
<% end %>
