<p id="notice"><%= notice %></p>

<p>
  <strong>Ticker:</strong>
  <%= @index.ticker %>
</p>

<p>
  <strong>Name:</strong>
  <%= @index.name %>
</p>

<p>
  <strong>Exchange:</strong>
  <%= @index.exchange %>
</p>

<p>
  <strong>Roar:</strong>
  <%= @index.roar %>
</p>

<p>
  <strong>Id:</strong>
  <%= @index._id %>
</p>

<%= link_to 'Edit', edit_index_path(@index) %> |
<%= link_to 'Back', indices_path %>
